RewriteEngine On

RewriteBase /blog/category/

# Redirect requests with a slug to index.php
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?slug=$1 [L,QSA]
